{% extends 'main.html.twig' %}


{% block title %}{{ trailers | length }} test{% endblock %}

{% block content %}
    <div class="container">
        <div>
            текущее время: {{ currentTime }}
        </div>        
        <div>
            класс контроллера, который отвечает за отображение этой страницы: {{ className }}
        </div>        
    </div>
{% endblock %}
