{% extends 'main.html.twig' %}


{% block title %}{{ trailers | length }} test{% endblock %}

{% block content %}
    <div class="container">
        <div>
            текущее время: {{ currentTime }}
        <div>
    </div>
{% endblock %}
